@import "tailwindcss";

@theme {
  /* 컬러 */
  --color-primary-100: #d9dcff;
  --color-primary-200: #bac0ff;
  --color-primary-300: #919bff;
  --color-primary-main: #5e6cff;
  --color-primary-400: #5e6cff;
  --color-primary-500: #2a38c1;
  --color-primary-600: #111d92;

  --color-secondary-white: #ffffff;
  --color-secondary-black: #121212;
  --color-secondary-100: #d9deee;
  --color-secondary-200: #bfc3d3;
  --color-secondary-300: #989daf;
  --color-secondary-400: #7b8091;
  --color-secondary-500: #606575;
  --color-secondary-600: #4a4e5b;
  --color-secondary-700: #3a3d46;
  --color-secondary-800: #2c2d34;
  --color-secondary-900: #1e1f24;

  --color-warning-100: #fe9189;
  --color-warning-200: #ff564a;

  /* 폰트 속성 */
  --font-display: var(--font-pretenard), "sans";

  /* line-height */
  --line-height-140: 1.4;

  /* font-weight */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  /* font-size */
  --font-size-48: 3rem; /* 48px */
  --font-size-44: 2.75rem; /* 44px */
  --font-size-36: 2.25rem; /* 36px */
  --font-size-32: 2rem; /* 32px */
  --font-size-28: 1.75rem; /* 28px */
  --font-size-24: 1.5rem; /* 24px */
  --font-size-20: 1.25rem; /* 20px */
  --font-size-18: 1.125rem; /* 18px */
  --font-size-16: 1rem; /* 16px */
  --font-size-14: 0.875rem; /* 14px */
  --font-size-12: 0.75rem; /* 12px */
  --font-size-10: 0.625rem; /* 10px */

  /* 애니메이션 */
  --transition-opacity-duration: 300ms;
}

@layer utilities {
  /* 텍스트 유틸리티 클래스 */
  .text-headline-1-semibold {
    font-size: var(--font-size-48);
    font-weight: var(--font-weight-semi-bold);
    line-height: var(--line-height-140);
  }

  .text-headline-1-medium {
    font-size: var(--font-size-48);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-140);
  }

  .text-headline-2-semibold {
    font-size: var(--font-size-44);
    font-weight: var(--font-weight-semi-bold);
    line-height: var(--line-height-140);
  }

  .text-title-1-semibold {
    font-size: var(--font-size-36);
    font-weight: var(--font-weight-semi-bold);
    line-height: var(--line-height-140);
  }

  .text-title-1-medium {
    font-size: var(--font-size-36);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-140);
  }

  .text-title-2-bold {
    font-size: var(--font-size-32);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-140);
  }

  .text-title-3-bold {
    font-size: var(--font-size-28);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-140);
  }

  .text-title-4-bold {
    font-size: var(--font-size-24);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-140);
  }

  .text-title-4-medium {
    font-size: var(--font-size-24);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-140);
  }

  .text-body-1-semibold {
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-semi-bold);
    line-height: var(--line-height-140);
  }

  .text-body-1-medium {
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-140);
  }

  .text-body-1-regular {
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-140);
  }

  .text-body-2-bold {
    font-size: var(--font-size-18);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-140);
  }

  .text-body-2-medium {
    font-size: var(--font-size-18);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-140);
  }

  .text-body-2-regular {
    font-size: var(--font-size-18);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-140);
  }

  .text-body-3-bold {
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-140);
  }

  .text-body-3-medium {
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-140);
  }

  .text-body-3-regular {
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-140);
  }

  .text-caption-1-bold {
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-140);
  }

  .text-caption-1-medium {
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-140);
  }

  .text-caption-1-regular {
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-140);
  }

  .text-caption-2-regular {
    font-size: var(--font-size-12);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-140);
  }

  .text-caption-3-regular {
    font-size: var(--font-size-10);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-140);
  }

  /* 애니메이션 유틸리티 클래스 */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .fade-in-animation {
    animation: fadeIn var(--transition-opacity-duration) ease-in-out;
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  .fade-out-animation {
    animation: fadeOut var(--transition-opacity-duration) ease-in-out;
  }
}
