{
  "singleQuote": false,
  "jsxSingleQuote": false,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],

  "endOfLine": "lf",
  "trailingComma": "none",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/app/(.*)$",
    "^@/views/(.*)$",
    "^@/widgets/(.*)$",
    "^@/features/(.*)$",
    "^@/entities/(.*)$",
    "^@/shared/(.*)$",
    "./(.*)$",
    "../(.*)$",
    "../../(.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
